

/* style texte utiliser

font-family : 'Rubik Iso', cursive ; 

font-family: 'Lobster', cursive;

font-family: 'Lobster Two', cursive;

 */




 body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif; /* Ajoutez une police de caractères par défaut */
}

/* la navbar */
.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 40px;
  position: relative; /* Permet à la vidéo d'apparaître au-dessus de la navbar */
}

/* Réduire la taille du logo de la navbar */
.navbar-logo img {
  width: 160px; /* Ajustez la largeur souhaitée */
  height: 60px; /* Garantit le maintien du ratio largeur/hauteur */
}


.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 6px 10px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: x-large;
}

.nav-list button {
  background-color: black;
  border: none;
  padding: 8px 16px;
  color: #58bbbc;
  cursor: pointer;
  border-radius: 4px;
}

/* titre */
.titre1 {
  position: relative;
  text-align: center;
  color: #58bbbc;
  font-family : 'Rubik Iso';
}

/* parti du header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8% ; /* Centrer le contenu verticalement */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  position: relative;
}

.video-container {
  position: absolute; /* Fait apparaître la vidéo au-dessus de tout */
  top: 0;
  left: 0;
  right: 0;
  height: 100vh; /* Utilise la hauteur de la fenêtre pour la vidéo */
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 900px; /* Assurez-vous que la vidéo couvre tout le conteneur */
}


  
  .video-link {
    color: white;
    text-decoration: none;
    background-color: #58bbbc;
    padding: 10px 20px;
    border-radius: 5px;
  }

  
  
  .sub-text {
    color: white;
    font-size: xx-large;
  }
  
  .header-content {
    flex: 1;
    color: #ffffff;
    /* margin-left: -100px; */
    color: #58bbbc;
  }
  
  h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Lobster', cursive;
  }
  
  .big-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }

  .euro {
    color: #58bbbc; /* Change la couleur en bleu */
    float: right; /* Place le texte à droite */
    margin-right: 0px; /* Ajoute une marge à droite pour l'espacement */
    font-family : 'Rubik Iso', cursive;
    font-size: xx-large;
    margin-bottom: 10px;
}


  p{
    font-size: xx-large;
    color: #ffffff;
  }
  
  header hr {
    width: 200%;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
  }
  
  .image-section {
    flex: 1;
    position: relative;
  }
  
  
  .platform-links {
    position: absolute;
    bottom: 300px;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  .platform-links a {
    margin: 20px 20px;
  }
  
  .platform-links img {
    width: 30px;
    height: 30px;
  }

  .header-content, .image-section {
    opacity: 0; /* Définit l'opacité initiale à 0 */
    transform: translateX(20px); /* Déplace le contenu vers le bas de 20 pixels */
    transition: opacity 3s ease, transform 3s ease; /* Ajoute une transition fluide */
}

.header-content.active, .image-section.active {
    opacity: 1; /* Opacité complète pour l'apparition */
    transform: translateY(0); /* Position initiale */
}

  /* fin du header */




  /* responsivité du header styles pour les écrans de 768px de largeur*/
@media screen and (max-width: 768px) {
  /* Réduisez la taille du logo de la navbar */
  .navbar-logo img {
    width: 768px; /* Ajustez la largeur souhaitée pour les petits écrans */
    height: auto; /* Assurez-vous que le ratio largeur/hauteur est respecté */
  }

  /*la taille du texte de la navbar */
  .nav-list li a {
    font-size: large; /* Ajustez la taille de la police pour les petits écrans */
  }

  .navbar-logo img {
    width: 60px; /* Ajustez la largeur souhaitée */
    height: 60px; /* Garantit le maintien du ratio largeur/hauteur */
  }

  /*la taille du titre */
  h1 {
    font-size: 30px; /* Ajustez la taille du titre pour les petits écrans */
    position: relative;
    text-align: center;
    color: #58bbbc;
    font-family : 'Rubik Iso';
  }

  .head{
    padding-top: 15px;
    margin-left: 30px;
    width: 250px;
  }


  /*la taille du bouton */
  .big-button {
    padding: 10px 20px; /* Ajustez la taille du bouton pour les petits écrans */
  }

  /* Réduisez la hauteur de la vidéo */
  .video-container video {
    height: 500px; /* Ajustez la hauteur de la vidéo pour les petits écrans */
  }

  p{
    font-size: x-large;
    color: #ffffff;
  }

  /*la taille du texte */
  .euro {
    font-size: large; /* Ajustez la taille du texte pour les petits écrans */
  }

  .platform-links {
    position: absolute;
    /* bottom: 300px; */
    right: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-content: flex-start; */
}

  /* Réduisez la taille des icônes de plateforme */
  .platform-links img {
    width: 20px; /* Ajustez la taille des icônes pour les petits écrans */
    height: 20px;
  }

  /* Réduisez la taille du texte de la section du contenu */
  .header-content, .image-section {
    font-size: medium; /* Ajustez la taille du texte pour les petits écrans */
  }


}

/* responsivité pour portable */
@media screen and (max-width: 400px) {



}

  



















  /* LE CORPS */

.game-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin: 0 8%;
    padding: 10px;
  }
  
  .left-column {
    flex: 1;
    color: #ffffff;
    text-align: center;
  }

  h2{
    font-size: 50px;
    color:#58bbbc;
    text-decoration: underline;
    font-family: 'Lobster Two', cursive;
    
  }

  img{
    padding-top: 15px;
    margin-left: 30px;
    width: 400px;
  }
  
  .right-column {
    flex: 1;
    text-align: right;
  }
  
  .about-title {
    font-size: 1.5rem;
    color: #58bbbc;
    font-size: xx-large;
    text-align: center;
  }
  

  .video-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #58bbbc;
  }
  
  .video-embed {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #58bbbc;
  }
  
  .video-embed video {
    width: 100%;
    max-height: 300px;
  }


  h3 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    font-family: 'Lobster', cursive;
  }


  























  /* parti pour la 3eme section */


.concept {
    text-align: center;
    margin-top: 40px;
  }
  
  .concept-title {
    font-size: 1.5rem;
    color:#58bbbc;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  hr{
    width: 50%;
  }
  
  .newsletter {
    margin-top: 20px;
  }
  
  .newsletter-title {
    font-size: 2rem;
    color: white;
  }
  
  .email-input {
    display: flex;
    align-items: center;
    margin-top: 0;
    border: 1px solid #0e0e0e;
    padding: 5px;
    background-color: black;
    justify-content: center;
    width: 40%;
    margin-left: 450px;
  }
  
  .email-input input[type="text"] {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
  }
  
  .email-addon {
    color: #0e0e0e;
    padding: 0 5px;
  }
  
  .subscribe-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .arrow-icon {
    width: 10px;
    height: 10px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    transform: rotate(45deg);
    margin: auto;
  }
























.subscribe-section {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 50px;
  }
  
  .subscribe-title {
    font-size: 1.5rem;
    color: white;
  }
  
  .email-input-large {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    width: 30%;
    margin-left: 500px;
  }
  
  .email-input-large input[type="text"] {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    padding: 5px;
  }
  
  .email-addon {
    color: black;
    padding: 0 5px;
  }
  
  .accept-newsletters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
  }
  
  .accept-newsletters label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .accept-newsletters input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    background-color: transparent;
    margin-right: 5px;
  }
  
  .accept-newsletters input[type="checkbox"]:checked {
    background-color: white;
  }
  
  
  
























/* Ce bloc de styles est appliqué à la div principale qui contient le texte et l'image.
   Il aligne les éléments en ligne, les centre verticalement et ajoute une marge en bas. */
   .text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin: 8%; /* Ajoute une marge de 8% sur tous les côtés de la div */
  }
  
  /* Ces styles sont appliqués aux colonnes de texte et d'image à l'intérieur de la div principale.
     Chaque colonne occupe 50% de la largeur et a un espacement intérieur de 20px.
     La couleur du texte est définie en blanc (#ffffff). */
  .text-column,
  .image-column {
    flex: 1; /* Les colonnes occupent également la moitié de la largeur de la div */
    padding: 20px;
    color: #ffffff; /* Couleur du texte en blanc */
    
  }

  .text-column h2{
    color: #58bbbc;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
  }
  
  /* Les styles pour la colonne de texte.
     La propriété "order" détermine l'ordre d'affichage, ici le texte est affiché en premier. */
  .text-column {
    order: 1;
    text-align: center; /* Alignement du texte à gauche */
  }

  .text-column {
    flex: 1;
    padding: 20px;
    color: #ffffff;
    transform: translateX(10%);
    opacity: 5;
    transition: transform 1s ease, opacity 1s ease;
  }
  


  .text-column.animate {
    transform: translateX(0%);
    opacity: 1;
  }
  

  
  /* Les styles pour la colonne d'image.
     La propriété "order" détermine l'ordre d'affichage, ici l'image est affichée en deuxième. */
  .image-column {
    order: 2;
    text-align: center; /* Alignement du texte à droite */
  }
  
  /* Styles pour les images à l'intérieur de la colonne d'image.
     L'image occupe 100% de la largeur et une hauteur fixe de 620 pixels.
     La bordure est commentée pour l'instant (désactivée). */
  .image-column img {
    width: 100%;
    height: 620px;
    opacity: 0; /* Définit l'opacité initiale à 0 */
    transition: opacity 1s ease; /* Ajoute une transition en douceur */
  }
  
  /* Les styles inversés sont appliqués lorsque la classe "reversed" est ajoutée à la div principale.
     Ces styles inversent l'ordre d'affichage du texte et de l'image. */
  .reversed .text-column {
    order: 2;
    text-align: center;
  }
  
  .reversed .image-column {
    order: 1;
    text-align: left;
  }
  
/* Ajoutez ces styles à la classe .text-column */
.text-column {
  flex: 1;
  padding: 20px;
  color: #ffffff;
  animation: slideFromLeft 1s ease-in-out; /* Ajoutez une animation pour l'effet de sortie */
}

/* Définissez l'animation slideFromLeft */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); /* Commencez le texte à l'extérieur de la div à gauche */
    opacity: 0; /* Définissez l'opacité initiale à 0 */
  }
  to {
    transform: translateX(0%); /* Déplacez le texte vers la position normale */
    opacity: 1; /* Rendez le texte complètement visible */
  }
}





















/* test video */
/* .video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
  } */






















/* section partenaire */

.partners-section {
  text-align: center;
  padding: 40px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #58bbbc;
  text-decoration: underline;
}

.partners-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.partner-block {
  width: 150px;
  margin: 10px;
}

.partner-block img {
  width: 100%;
  height: auto;
}

hr .partner {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #ccc;
}





























/* bouton retour haut de pages */

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #58bbbc;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  font-size: 14px; /* Ajoutez la taille de police souhaitée */
}

.scroll-top-button a {
  text-decoration: none; /* Supprime la décoration par défaut des liens */
  color: white; /* Applique la couleur de texte au lien */
}

.scroll-top-button:hover {
  background-color: #447d7f;
}

.scroll-top-button:hover a {
  color: white; /* Applique la couleur de texte au lien au survol */
}












  /* PARTIE FOOTER */

.footer {
    background-color: #0e0e0e;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 150px;
    text-align: center;
    font-size: large;
    border: 2px solid #58bbbc;
  }
  
  .footer-links-center ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links-center li {
    margin: 10px 0;
  }
  
  .footer-links-center a {
    color: white;
    text-decoration: none;
    margin-left: 690px;
}

.footer-links-center a:hover{
  font-size: larger;
  color: #58bbbc;
}
  
  .footer-links-right {
    display: flex;
    align-items: center;
  }
  
  .footer-links-right a {
    margin: 0 10px;
  }
  
  .footer-links-right img {
    width: 30px;
    height: 30px;
  }

/* texte en dessous du footer */
  .copy{
    font-size: smaller;
    margin-left: 20px;
  }

  .copy a{
    text-decoration: none;
    color: #ffffff;
  }
  