body {
    margin: 0;
    background-color: black;
  }
  
  /* la navbar */
  .navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 40px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  .nav-list li {
    margin: 6px 10px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;

  }

.nav-list button {
  background-color: black;
  border: none;
  padding: 8px 16px;
  color:#58bbbc;
  cursor: pointer;
  border-radius: 4px;
}







  
/* parti du header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8%;
    background-color: rgba(0, 0, 0, 0.7); /* Pour Ajoutez un fond semi-transparent */
    color: white;
    padding: 20px;
    position: relative; /* Nécessaire pour placer le contenu par-dessus la vidéo */
    bottom: 430px;
  }

  h1{
    color: #58bbbc;
  }
  
  .video-container {
    position: relative;
    top: 450px;
    left: 117px;
    right: 0;
    bottom: 0;
    max-width: 84%;
    height: 600px;
    z-index: -1; /* Placez la vidéo derrière tout le contenu */
    overflow: hidden; /* S'Assurez que la vidéo ne dépasse pas les limites */
  }
  
  .video-container video {
    object-fit: cover; /* Ajustez la vidéo pour couvrir tout le conteneur */
  }
  
  .video-link {
    color: white;
    text-decoration: none;
    background-color: #58bbbc;
    padding: 10px 20px;
    border-radius: 5px;
  }

  
  .logo {
    color: #58bbbc;
    font-size: 2.5rem;
    margin-top: -150px;
    margin-bottom: 900px;
    text-align: center;
  }
  
  .sub-text {
    color: white;
    font-size: xx-large;
  }
  
  .header-content {
    flex: 1;
    color: #ffffff;
    margin-left: -100px;
    color: #58bbbc;
  }
  
  h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .big-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }

  p .euro{
    display: flex;
    margin-left: 40px;
    color: #58bbbc;

  }

  p{
    font-size: xx-large;
    color: #ffffff;
  }
  
  header hr {
    width: 200%;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
  }
  
  .image-section {
    flex: 1;
    position: relative;
  }
  
  
  .platform-links {
    position: absolute;
    bottom: 300px;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  .platform-links a {
    margin: 20px 20px;
  }
  
  .platform-links img {
    width: 30px;
    height: 30px;
  }
  


  /* LE CORPS */

.game-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin: 0 8%;
  }
  
  .left-column {
    flex: 1;
    color: #ffffff;
    text-align: center;
  }

  h2{
    font-size: xx-large;
    color:#58bbbc;
    text-decoration: underline;
    
  }

  img{
    padding-top: 15px;
    margin-left: 30px;
    width: 400px;
  }
  
  .right-column {
    flex: 1;
    text-align: right;
  }
  
  .about-title {
    font-size: 1.5rem;
    color: #58bbbc;
    font-size: xx-large;
    text-align: center;
  }
  

  .video-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #58bbbc;
  }
  
  .video-embed {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #58bbbc;
  }
  
  .video-embed video {
    width: 100%;
    max-height: 300px;
  }


  h3 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
  }



  /* parti pour la 3eme section */


.concept {
    text-align: center;
    margin-top: 40px;
  }
  
  .concept-title {
    font-size: 1.5rem;
    color:#58bbbc;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  hr{
    width: 50%;
  }
  
  .newsletter {
    margin-top: 20px;
  }
  
  .newsletter-title {
    font-size: 2rem;
    color: white;
  }
  
  .email-input {
    display: flex;
    align-items: center;
    margin-top: 0;
    border: 1px solid #0e0e0e;
    padding: 5px;
    background-color: black;
    justify-content: center;
    width: 40%;
    margin-left: 450px;
  }
  
  .email-input input[type="text"] {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
  }
  
  .email-addon {
    color: #0e0e0e;
    padding: 0 5px;
  }
  
  .subscribe-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .arrow-icon {
    width: 10px;
    height: 10px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    transform: rotate(45deg);
    margin: auto;
  }









.subscribe-section {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 50px;
  }
  
  .subscribe-title {
    font-size: 1.5rem;
    color: white;
  }
  
  .email-input-large {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    width: 30%;
    margin-left: 500px;
  }
  
  .email-input-large input[type="text"] {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    padding: 5px;
  }
  
  .email-addon {
    color: black;
    padding: 0 5px;
  }
  
  .accept-newsletters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
  }
  
  .accept-newsletters label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .accept-newsletters input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    background-color: transparent;
    margin-right: 5px;
  }
  
  .accept-newsletters input[type="checkbox"]:checked {
    background-color: white;
  }
  
  
  





/* Ce bloc de styles est appliqué à la div principale qui contient le texte et l'image.
   Il aligne les éléments en ligne, les centre verticalement et ajoute une marge en bas. */
   .text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin: 8%; /* Ajoute une marge de 8% sur tous les côtés de la div */
  }
  
  /* Ces styles sont appliqués aux colonnes de texte et d'image à l'intérieur de la div principale.
     Chaque colonne occupe 50% de la largeur et a un espacement intérieur de 20px.
     La couleur du texte est définie en blanc (#ffffff). */
  .text-column,
  .image-column {
    flex: 1; /* Les colonnes occupent également la moitié de la largeur de la div */
    padding: 20px;
    color: #ffffff; /* Couleur du texte en blanc */
    
  }

  .text-column h2{
    color: #58bbbc;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
  }
  
  /* Les styles pour la colonne de texte.
     La propriété "order" détermine l'ordre d'affichage, ici le texte est affiché en premier. */
  .text-column {
    order: 1;
    text-align: center; /* Alignement du texte à gauche */
  }
  
  /* Les styles pour la colonne d'image.
     La propriété "order" détermine l'ordre d'affichage, ici l'image est affichée en deuxième. */
  .image-column {
    order: 2;
    text-align: center; /* Alignement du texte à droite */
  }
  
  /* Styles pour les images à l'intérieur de la colonne d'image.
     L'image occupe 100% de la largeur et une hauteur fixe de 620 pixels.
     La bordure est commentée pour l'instant (désactivée). */
  .image-column img {
    width: 100%;
    height: 620px;
    opacity: 0; /* Définit l'opacité initiale à 0 */
    transition: opacity 1s ease; /* Ajoute une transition en douceur */
  }
  
  /* Les styles inversés sont appliqués lorsque la classe "reversed" est ajoutée à la div principale.
     Ces styles inversent l'ordre d'affichage du texte et de l'image. */
  .reversed .text-column {
    order: 2;
    text-align: center;
  }
  
  .reversed .image-column {
    order: 1;
    text-align: left;
  }
  












/* test video */
/* .video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
  } */












/* section partenaire */

.partners-section {
  text-align: center;
  padding: 40px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #58bbbc;
  text-decoration: underline;
}

.partners-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.partner-block {
  width: 150px;
  margin: 10px;
}

.partner-block img {
  width: 100%;
  height: auto;
}

hr .partner {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #ccc;
}











/* bouton retour haut de pages */

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #58bbbc;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  font-size: 14px; /* Ajoutez la taille de police souhaitée */
}

.scroll-top-button a {
  text-decoration: none; /* Supprime la décoration par défaut des liens */
  color: white; /* Applique la couleur de texte au lien */
}

.scroll-top-button:hover {
  background-color: #447d7f;
}

.scroll-top-button:hover a {
  color: white; /* Applique la couleur de texte au lien au survol */
}












  /* PARTIE FOOTER */

.footer {
    background-color: #0e0e0e;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 150px;
    text-align: center;
    font-size: large;
    border: 2px solid #58bbbc;
  }
  
  .footer-links-center ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links-center li {
    margin: 10px 0;
  }
  
  .footer-links-center a {
    color: white;
    text-decoration: none;
    margin-left: 690px;
}

.footer-links-center a:hover{
  font-size: larger;
  color: #58bbbc;
}
  
  .footer-links-right {
    display: flex;
    align-items: center;
  }
  
  .footer-links-right a {
    margin: 0 10px;
  }
  
  .footer-links-right img {
    width: 30px;
    height: 30px;
  }

/* texte en dessous du footer */
  .copy{
    font-size: smaller;
    margin-left: 20px;
  }

  .copy a{
    text-decoration: none;
    color: #ffffff;
  }
  