

/* style texte utiliser

font-family : 'Rubik Iso', cursive ; 

font-family: 'Lobster', cursive;

font-family: 'Lobster Two', cursive;

 */




/* Styles généraux pour le corps du document */
body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif; /* Police de caractères par défaut */
}

/* Styles pour la barre de navigation (navbar) */
.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 40px;
  position: relative; /* Position relative pour que la vidéo apparaisse au-dessus de la navbar */
}

/* Réduire la taille du logo de la navbar */
.navbar-logo img {
  width: 160px; /* Largeur du logo */
  height: 60px; /* Hauteur du logo */
}

/* Styles pour la liste de navigation */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 6px 10px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: x-large; /* Taille de police pour les liens de navigation */
}

.nav-list button {
  background-color: black;
  border: none;
  padding: 8px 16px;
  color: #58bbbc;
  cursor: pointer;
  border-radius: 4px;
}

/* Styles pour le titre */
.titre1 {
  position: relative;
  text-align: center;
  color: #58bbbc; /* Couleur du texte */
  font-family: 'Rubik Iso'; /* Famille de police personnalisée */
}

/* Styles pour la section du header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8%; /* Marge extérieure pour centrer le contenu verticalement */
/* background-color: rgba(0, 0, 0, 0.7); Couleur de fond semi-transparente */
  color: white; /* Couleur du texte */
  padding: 20px;
  position: relative;
}

/* Styles pour le conteneur vidéo */
.video-container {
  position: absolute; /* Positionnement absolu pour que la vidéo soit au-dessus de tout */
  top: 0;
  left: 0;
  right: 0;
  height: 100vh; /* Hauteur de la fenêtre pour la vidéo */
  z-index: -1; /* Empile la vidéo derrière le contenu */
  overflow: hidden;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 900px; /* Hauteur de la vidéo */
}

/* Styles pour les liens vidéo */
.video-link {
  color: white;
  text-decoration: none;
  background-color: #58bbbc;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Styles pour le texte secondaire */
.sub-text {
  color: white;
  font-size: xx-large; /* Taille de police pour le texte secondaire */
}

/* Styles pour le contenu du header */
.header-content {
  flex: 1;
  color: #ffffff; /* Couleur du texte */
  color: #58bbbc; /* Couleur du texte */
}

/* Styles pour le titre h1 */
h1 {
  font-size: 70px; /* Taille de police pour le titre principal */
  margin-bottom: 10px;
  color: #ffffff; /* Couleur du texte */
  font-family: 'Lobster', cursive; /* Famille de police personnalisée */
}

/* Styles pour les gros boutons */
.big-button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0); /* Couleur du texte */
  text-decoration: none;
  border-radius: 5px;
}

/* Styles pour le texte "euro" */
.euro {
  color: #58bbbc; /* Couleur du texte en bleu */
  float: right; /* Déplace le texte à droite */
  margin-right: 0px; /* Ajoute une marge à droite pour l'espacement */
  font-family: 'Rubik Iso', cursive; /* Famille de police personnalisée */
  font-size: xx-large; /* Taille de police pour le texte "euro" */
  margin-bottom: 10px;
}

/* Styles pour les paragraphes */
p {
  font-size: xx-large; /* Taille de police pour les paragraphes */
  color: #ffffff; /* Couleur du texte */
}

/* Styles pour la ligne horizontale */
header hr {
  width: 200%;
  border: none;
  border-bottom: 1px solid #ffffff; /* Ligne de séparation en dessous du texte */
  margin: 20px 0;
}

/* Styles pour la section d'image */
.image-section {
  flex: 1;
  position: relative;
}

/* Styles pour l'image du château */
.chateau {
  width: 450px;
  height: auto; /* Hauteur automatique pour maintenir le ratio */
  margin-left: 40px;
}

/* Styles pour les liens de plateforme */
.platform-links {
  position: absolute;
  bottom: 300px;
  right: 0;
  display: flex;
  flex-direction: column;
}

.platform-links a {
  margin: 20px 20px;
}

.platform-links img {
  width: 30px;
  height: 30px;
}

/* Styles pour les éléments avec animation d'apparition */
.header-content, .image-section {
  opacity: 0; /* Définit l'opacité initiale à 0 */
  transform: translateX(20px); /* Déplace le contenu vers le bas de 20 pixels */
  transition: opacity 3s ease, transform 3s ease; /* Ajoute une transition fluide */
}

.header-content.active, .image-section.active {
  opacity: 1; /* Opacité complète pour l'apparition */
  transform: translateY(0); /* Position initiale */
}


  /* fin du header */


/* pour masquer le titre que je veux faire afficher uniquement sur mobile */
  .mobile-only {
    display: none; /* Masque le conteneur par défaut */
  }


  /* responsivité du header styles pour les écrans de 768px de largeur*/
@media screen and (max-width: 768px) {

  .navbar{
    width: 768px;
  }
  /* Réduisez la taille du logo de la navbar */
  .navbar-logo img {
    width: 768px; /* Ajustez la largeur souhaitée pour les petits écrans */
    height: auto; /* Assurez-vous que le ratio largeur/hauteur est respecté */
  }

  /*la taille du texte de la navbar */
  .nav-list li a {
    font-size: large; /* Ajustez la taille de la police pour les petits écrans */
  }

  .navbar-logo img {
    width: 100%; /* Ajustez la largeur souhaitée */
    height: 50px; /* Garantit le maintien du ratio largeur/hauteur */
  }

  /*la taille du titre */
  h1 {
    font-size: 30px; /* Ajustez la taille du titre pour les petits écrans */
    position: relative;
    text-align: center;
    color: #58bbbc;
    font-family: 'Lobster' cursive;
  }

  .chateau{
    padding-top: 15px;
    margin-left: 30px;
    width: 250px;
    margin-bottom: 35px;
  }

  .platform-links {
    position: absolute;
    bottom: -20px;
    /* right: 0; */
    display: flex;
    flex-direction: initial;
  }


  /*la taille du bouton */
  .big-button {
    padding: 10px 20px; /* Ajustez la taille du bouton pour les petits écrans */
  }

  /* Réduisez la hauteur de la vidéo */
  .video-container video {
    height: 500px; /* Ajustez la hauteur de la vidéo pour les petits écrans */
  }

  p{
    font-size: large;
    color: #ffffff;
  }

  /*la taille du texte */
  .euro {
    font-size: large; /* Ajustez la taille du texte pour les petits écrans */
  }

  .platform-links {
    position: absolute;
    /* bottom: 300px; */
    right: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-content: flex-start; */
}

  /* Réduisez la taille des icônes de plateforme */
  .platform-links img {
    width: 20px; /* Ajustez la taille des icônes pour les petits écrans */
    height: 20px;
  }

  /* Réduisez la taille du texte de la section du contenu */
  .header-content, .image-section {
    font-size: medium; /* Ajustez la taille du texte pour les petits écrans */
  }


}

/* responsivité pour portable */
@media screen and (max-width: 412px) {

 /* Styles généraux pour le corps du document */
body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif; /* Police de caractères par défaut */
}

/* Styles pour la barre de navigation (navbar) */
.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 45px;
  position: relative; /* Position relative pour que la vidéo apparaisse au-dessus de la navbar */
}

/* Réduire la taille du logo de la navbar */
.navbar-logo img {
  width: 60px; /* Largeur du logo */
  height: 30px; /* Hauteur du logo */
  background-color: #000000;
}

/* Styles pour la liste de navigation */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 6px 10px;
  background-color: #0e0e0e;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px; /* Taille de police pour les liens de navigation */
}

.nav-list button {
  background-color: black;
  border: none;
  padding: 8px 16px;
  color: #58bbbc;
  cursor: pointer;
  border-radius: 4px;
}

/* Styles pour le titre */
.titre1 {
  position: relative;
  text-align: center;
  color: #58bbbc; /* Couleur du texte */
  font-family: 'Rubik Iso'; /* Famille de police personnalisée */
  display: none;
}


/* titre version mobile */
.mob {
  display: block; /* Rendre les éléments visibles */
}

.mobi{
  text-align: center;
  color: #ffffff;
}

/* Styles pour la section du header */
.header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin: 8% 2%; /* Marge extérieure pour centrer le contenu verticalement */
  padding: 20px;
  position: relative;
}

/* Styles pour le conteneur vidéo */
.video-container {
  position: absolute; /* Positionnement absolu pour que la vidéo soit au-dessus de tout */
  top: 0;
  left: 0;
  right: 0;
  height: 40vh; /* Hauteur de la fenêtre pour la vidéo */
  z-index: -1; /* Empile la vidéo derrière le contenu */
  overflow: hidden;
  width: 100%;
}

.video-container video {
  object-fit: cover;
  width: 120%;
  max-height: 300px; /* Hauteur maximale de la vidéo */
}

/* Styles pour les liens vidéo */
.video-link {
  color: white;
  text-decoration: none;
  background-color: #58bbbc;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Styles pour le texte secondaire */
.sub-text {
  color: white;
  font-size: 24px; /* Taille de police pour le texte secondaire */
}

/* Styles pour le contenu du header */
.header-content {
  flex: 1;
  color: #ffffff; /* Couleur du texte */
  color: #58bbbc; /* Couleur du texte */
}

/* Styles pour le titre h1 */
h1 {
  font-size: 36px; /* Taille de police pour le titre principal */
  margin-bottom: 10px;
  color: #ffffff; /* Couleur du texte */
  font-family: 'Lobster', cursive; /* Famille de police personnalisée */
  display: none;
}

/* Styles pour les gros boutons */
.big-button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0); /* Couleur du texte */
  text-decoration: none;
  border-radius: 5px;
  display: none;
}

/* Styles pour le texte "euro" */
.euro {
  color: #58bbbc; /* Couleur du texte en bleu */
  float: right; /* Déplace le texte à droite */
  margin-right: 0px; /* Ajoute une marge à droite pour l'espacement */
  font-family: 'Rubik Iso', cursive; /* Famille de police personnalisée */
  font-size: 24px; /* Taille de police pour le texte "euro" */
  display: none;
}

/* Styles pour les paragraphes */
p {
  font-size: 24px; /* Taille de police pour les paragraphes */
  color: #ffffff; /* Couleur du texte */
  margin: 15px 20px;
}

/* Styles pour la ligne de séparation horizontale */
header hr {
  width: 100%; /* Largeur à 100% */
  border: none;
  border-bottom: 1px solid #ffffff; /* Ligne de séparation en dessous */
  margin: 20px 0;
  display: none;
}

/* Styles pour la section d'image */
.image-section {
  flex: 1;
  position: relative;
}

/* Styles pour l'image du château */
.chateau {
  width: 100%; /* Largeur à 100% */
  height: auto; /* Hauteur automatique */
  margin-left: 0; /* Marge gauche réinitialisée */
  margin-top: -90px;
}

/* Styles pour les liens des plateformes sociales */
.platform-links {
  position: absolute;
  bottom: 540px; /* Position en bas de la section */
  right: -10px;
  display: flex;
  /* flex-direction: column; */
  padding: 0 6px;
}

.platform-links a {
  margin: 20px 40px; /* Marge autour des liens */
}

.platform-links img {
  width: 30px; /* Largeur des images des plateformes sociales */
  height: 30px; /* Hauteur des images des plateformes sociales */
}

/* Styles pour les éléments qui apparaissent avec une animation */
.header-content, .image-section {
  opacity: 0; /* Opacité initiale à 0 */
  transform: translateX(20px); /* Déplace le contenu vers la droite de 20 pixels */
  transition: opacity 3s ease, transform 3s ease; /* Ajoute une transition fluide */
}

.header-content.active, .image-section.active {
  opacity: 1; /* Opacité complète pour l'apparition */
  transform: translateY(0); /* Position initiale */
  text-align: center;
  margin-top: 150px;
}

}
  



















  /* LE CORPS */

.game-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin: 0 8%;
    padding: 10px;
  }
  
  .left-column {
    flex: 1;
    color: #ffffff;
    text-align: center;
    margin: inherit;
  }

  h2{
    font-size: 50px;
    color:#58bbbc;
    text-decoration: underline;
    font-family: 'Lobster Two', cursive;
    
  }

  .tete{
    padding-top: 15px;
    margin-left: 30px;
    width: 400px;
    box-shadow: 5px 5px 10px 1px #8ae5f3;
  }
  
  .right-column {
    flex: 1;
    text-align: right;
  }
  
  .about-title {
    font-size: 1.5rem;
    color: #58bbbc;
    font-size: xx-large;
    text-align: center;
  }
  

  .video-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #58bbbc;
  }
  
  .video-embed {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #58bbbc;
  }
  
  .video-embed video {
    width: 100%;
    max-height: 300px;
  }


  h3 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    font-family: 'Lobster', cursive;
  }
/* responsivité */
  @media screen and (max-width: 768px) {

    .game-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 40px;
      margin: 0 8%;
      padding: 10px;
    }
    
    .left-column {
      flex: 1;
      color: #ffffff;
      text-align: center;
    }
  
    h2{
      font-size: 30px;
      color:#58bbbc;
      text-decoration: underline;
      font-family: 'Lobster Two', cursive;
      
    }
  
    .tete{
      padding-top: 0;
      margin-left: 10px;
      width: 200px;
      box-shadow: 5px 5px 10px 1px #8ae5f3;
    }
    
    .right-column {
      flex: 1;
      text-align: right;
    }
    
    .about-title {
      color: #58bbbc;
      font-size: x-large;
      text-align: center;
    }
    
  
    .video-link {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: #58bbbc;
    }
    
    .video-embed {
      position: relative;
      margin-top: 10px;
      padding: 10px;
      background-color: #000000;
      /* border: 1px solid #58bbbc; */
    }
    
    .video-embed video {
      width: 100%;
      max-height: 250px;
    }
  
  
    h2 {
      margin-top: 20px;
      color:#58bbbc;
      text-align: center;
      font-size: x-large;
      font-family: 'Lobster', cursive;
    }



  }

/* responsivité portable */
  @media screen and (max-width: 412px) {


    /* Styles pour la section .game-details */

/* Conteneur principal avec disposition en colonne */
.game-details {
  display: flex;
  flex-direction: column; /* Affiche les éléments en colonne */
  align-items: center; /* Centre les éléments horizontalement */
  margin-top: 40px; /* Marge supérieure de 40 pixels */
  margin: 0 8%; /* Marge gauche et droite de 8% */
  padding: 10px; /* Ajoute un espace intérieur de 10 pixels */
}

/* Styles pour la colonne de gauche */
.left-column {
  flex: 1; /* La colonne occupe une part égale de l'espace disponible */
  color: #ffffff; /* Couleur du texte en blanc */
  text-align: center; /* Centre le texte horizontalement */
  margin-bottom: 20px; /* Ajoute une marge inférieure de 20 pixels */
}

/* Styles pour les titres h2 */
h2 {
  font-size: 36px; /* Taille de la police */
  color: #58bbbc; /* Couleur du texte en bleu */
  text-decoration: underline; /* Souligne le texte */
  font-family: 'Lobster Two', cursive; /* Police personnalisée */
}

/* Style pour l'image */
.tete {
  margin-top: 15px; /* Marge supérieure pour l'image */
  width: 100%; /* Largeur de l'image à 100% */
  max-width: 400px; /* Largeur maximale de l'image */
  box-shadow: 5px 5px 10px 1px #8ae5f3; /* Ajoute une ombre à l'image */
}

/* Styles pour la colonne de droite */
.right-column {
  flex: 1; /* La colonne occupe une part égale de l'espace disponible */
  text-align: center; /* Centre le texte horizontalement */
  margin-top: 20px; /* Marge supérieure de 20 pixels */
}

/* Titre pour la colonne de droite */
.about-title {
  font-size: 36px; /* Taille de la police */
  color: #58bbbc; /* Couleur du texte en bleu */
  font-size: xx-large; /* Taille de police personnalisée */
}

/* Style pour les liens vidéo */
.video-link {
  display: block; /* Affiche les liens en tant que blocs */
  margin-top: 10px; /* Marge supérieure pour les liens */
  text-decoration: none; /* Supprime la décoration des liens */
  color: #58bbbc; /* Couleur du texte en bleu */
}

/* Styles pour le conteneur vidéo */
.video-embed {
  position: relative; /* Position relative pour les éléments internes */
  margin-top: 10px; /* Marge supérieure pour le conteneur vidéo */
  padding: 10px; /* Ajoute un espace intérieur de 10 pixels */
  background-color: #ffffff; /* Couleur d'arrière-plan en blanc */
  border: 1px solid #58bbbc; /* Bordure solide avec une couleur en bleu */
}

/* Style pour les vidéos à l'intérieur du conteneur */
.video-embed video {
  width: 100%; /* Vidéo à 100% de la largeur du conteneur */
  max-height: 300px; /* Hauteur maximale de la vidéo */
}

/* Style pour les titres h3 */
h3 {
  margin-top: 20px; /* Marge supérieure de 20 pixels */
  color: #ffffff; /* Couleur du texte en blanc */
  text-align: center; /* Centre le texte horizontalement */
  font-size: x-large; /* Taille de police x-large */
  font-family: 'Lobster', cursive; /* Police personnalisée */
}


  }
  























  /* parti TITRE CONCEPT et premier formulaire */
/* Styles pour la section .concept */

/* Style pour centrer le contenu dans la section .concept */
.concept {
  text-align: center; /* Centre le texte horizontalement */
  margin-top: 40px; /* Ajoute une marge en haut pour espacer le contenu */
}

/* Style du titre de la section .concept */
.concept-title {
  font-size: 1.5rem; /* Définit la taille de la police */
  color: #58bbbc; /* Couleur du texte en bleu */
  font-size: 60px; /* Taille de police personnalisée */
  font-family: Georgia, 'Times New Roman', Times, serif; /* Police personnalisée */
}

/* Style pour la ligne horizontale */
hr {
  width: 50%; /* Définit la largeur de la ligne à 50% */
}

/* Style pour le conteneur de la newsletter */
.newsletter {
  margin-top: 20px; /* Ajoute une marge en haut pour espacer le contenu */
}

/* Style du titre de la newsletter */
.newsletter-title {
  font-size: 2rem; /* Définit la taille de la police */
  color: white; /* Couleur du texte en blanc */
}

/* Style pour le conteneur de l'entrée d'e-mail avec une largeur accrue */
.email-input {
  display: flex; /* Utilise la disposition flexible */
  align-items: center; /* Centre verticalement les éléments enfants */
  margin-top: 0; /* Réinitialise la marge supérieure */
  border: 1px solid #0e0e0e; /* Ajoute une bordure de 1 pixel avec une couleur personnalisée */
  padding: 5px; /* Ajoute un rembourrage interne de 5 pixels */
  background-color: black; /* Couleur d'arrière-plan noire */
  justify-content: center; /* Centre horizontalement les éléments enfants */
  width: 40%; /* Définit la largeur du conteneur à 40% */
  margin-left: 450px; /* Ajoute une marge à gauche pour l'espacement */
}

/* Style de la zone de saisie d'e-mail (input[type="text"]) */
.email-input input[type="text"] {
  width: 100%; /* Remplit la largeur du conteneur parent */
  background-color: black; /* Couleur d'arrière-plan noire */
  color: white; /* Couleur du texte en blanc */
  border: none; /* Supprime les bordures du champ de saisie */
  padding: 5px; /* Ajoute un rembourrage interne de 5 pixels */
}

/* Style de l'élément d'ajout (addon) à l'intérieur de la zone de saisie d'e-mail */
.email-addon {
  color: #0e0e0e; /* Couleur du texte en gris foncé */
  padding: 0 5px; /* Ajoute un espace autour du texte */
}

/* Style du bouton d'abonnement */
.subscribe-button {
  background-color: transparent; /* Couleur d'arrière-plan transparente */
  border: none; /* Supprime les bordures du bouton */
  cursor: pointer; /* Change le curseur en main au survol */
}

/* Style de l'icône de flèche dans le bouton */
.arrow-icon {
  width: 10px; /* Définit la largeur de l'icône */
  height: 10px; /* Définit la hauteur de l'icône */
  border-top: 2px solid gray; /* Ajoute une ligne en haut */
  border-right: 2px solid gray; /* Ajoute une ligne à droite */
  transform: rotate(45deg); /* Fait pivoter l'icône de 45 degrés */
  margin: auto; /* Centre l'icône horizontalement */
}




/* parti responsive tablette */
  @media screen and (max-width: 768px) {

    .concept {
      text-align: center;
      margin-top: 40px;
    }
    
    .concept-title {
      /* font-size: 1.5rem; */
      color:#58bbbc;
      font-size: 40px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
    hr{
      width: 50%;
    }
    
    .newsletter {
      margin-top: 20px;
    }
    
    .newsletter-title {
      font-size: 1.5rem;
      color: white;
    }
    
    .email-input {
      display: flex;
      align-items: center;
      margin-top: 0;
      border: 1px solid #0e0e0e;
      padding: 5px;
      background-color: black;
      justify-content: center;
      width: 30%;
      margin-left: 260px;
    }
    
    .email-input input[type="text"] {
      width: 100%;
      background-color: black;
      color: white;
      border: none;
      padding: 5px;
    }
    
    .email-addon {
      color: #0e0e0e;
      padding: 0 5px;
    }
    
    .subscribe-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    
    .arrow-icon {
      width: 10px;
      height: 10px;
      border-top: 2px solid gray;
      border-right: 2px solid gray;
      transform: rotate(45deg);
      margin: auto;
    }

  }


  /* reponsivité portable */
  @media screen and (max-width: 412px) {

/* Conteneur principal en colonne */
.concept {
  text-align: center; /* Centre le texte horizontalement */
  margin-top: 20px; /* Réduit la marge supérieure pour un espacement plus compact */
  display: flex; /* Utilise la disposition flexible */
  flex-direction: column; /* Affiche les éléments en colonne */
  align-items: center; /* Centre verticalement les éléments enfants */
}

/* Style du titre de la section .concept */
.concept-title {
  font-size: 36px; /* Taille de la police réduite */
  color: #58bbbc; /* Couleur du texte en bleu */
  font-family: Georgia, 'Times New Roman', Times, serif; /* Police personnalisée */
}

/* Style pour la ligne horizontale */
hr {
  width: 50%; /* Définit la largeur de la ligne à 50% */
}

/* Style pour le conteneur de la newsletter */
.newsletter {
  margin-top: 15px; /* Réduit la marge supérieure pour un espacement plus compact */
}

/* Style du titre de la newsletter */
.newsletter-title {
  font-size: 1.5rem; /* Taille de la police réduite */
  color: white; /* Couleur du texte en blanc */
}

/* Style pour le conteneur de l'entrée d'e-mail en colonne */
.email-input {
  display: flex; /* Utilise la disposition flexible */
  align-items: center; /* Centre verticalement les éléments enfants */
  margin-top: 0; /* Réinitialise la marge supérieure */
  border: 1px solid #0e0e0e; /* Ajoute une bordure de 1 pixel avec une couleur personnalisée */
  padding: 5px; /* Ajoute un rembourrage interne de 5 pixels */
  background-color: black; /* Couleur d'arrière-plan noire */
  width: 80%; /* Définit la largeur du conteneur à 80% */
  margin-left: auto; /* Centre le conteneur en ajustant la marge gauche */
  margin-right: auto; /* Centre le conteneur en ajustant la marge droite */
}

/* Style de la zone de saisie d'e-mail (input[type="text"]) */
.email-input input[type="text"] {
  width: 100%; /* Remplit la largeur du conteneur parent */
  background-color: black; /* Couleur d'arrière-plan noire */
  color: white; /* Couleur du texte en blanc */
  border: none; /* Supprime les bordures du champ de saisie */
  padding: 5px; /* Ajoute un rembourrage interne de 5 pixels */
}

/* Style de l'élément d'ajout (addon) à l'intérieur de la zone de saisie d'e-mail */
.email-addon {
  color: #0e0e0e; /* Couleur du texte en gris foncé */
  padding: 0 5px; /* Ajoute un espace autour du texte */
}

/* Style du bouton d'abonnement */
.subscribe-button {
  background-color: transparent; /* Couleur d'arrière-plan transparente */
  border: none; /* Supprime les bordures du bouton */
  cursor: pointer; /* Change le curseur en main au survol */
}

/* Style de l'icône de flèche dans le bouton */
.arrow-icon {
  width: 10px; /* Définit la largeur de l'icône */
  height: 10px; /* Définit la hauteur de l'icône */
  border-top: 2px solid gray; /* Ajoute une ligne en haut */
  border-right: 2px solid gray; /* Ajoute une ligne à droite */
  transform: rotate(45deg); /* Fait pivoter l'icône de 45 degrés */
  margin: auto; /* Centre l'icône horizontalement */
}



  }
























/* Style général de la section d'abonnement second formulaire avant le footer*/
.subscribe-section {
  text-align: center; /* Centre le contenu horizontalement */
  margin-top: 20%; /* Marge supérieure de 40% de la hauteur de l'écran */
  margin-bottom: 50px; /* Marge inférieure de 50 pixels */
  background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent pour la section d'abonnement */
  padding: 20px;
  text-align: center;
  position: relative; /* Position relative pour les éléments enfants */
  z-index: 1; /* Assure que la section d'abonnement est au premier plan */
}

/* Style du titre de la section d'abonnement */
.subscribe-title {
  font-size: 1.8rem; /* Taille de police de 1.5 rem (relative à la taille de base) */
  color: white; /* Couleur du texte en blanc */
}

/* Style de la zone de saisie d'e-mail et de son conteneur */
.email-input-large {
  display: flex; /* Affiche les éléments en ligne avec un axe horizontal */
  align-items: center; /* Centre verticalement les éléments enfants */
  justify-content: center; /* Centre horizontalement les éléments enfants */
  margin-top: 10px; /* Marge supérieure de 10 pixels */
  border-radius: 20px; /* Ajoute des bordures arrondies de 20 pixels */
  background-color: rgb(255, 255, 255); /* Couleur d'arrière-plan blanche */
  padding: 5px; /* Rembourrage intérieur de 5 pixels */
  width: 30%; /* Largeur de 30% de son conteneur parent */
  margin-left: 500px; /* Marge à gauche de 500 pixels */
}

/* Style de la zone de saisie d'e-mail (input[type="text"]) */
.email-input-large input[type="text"] {
  width: 100%; /* Largeur de 100% de son conteneur */
  background-color: rgb(0, 0, 0); /* Couleur d'arrière-plan blanche */
  color: black; /* Couleur du texte en noir */
  border: 1px solid transparent; /* Supprime les bordures en utilisant une bordure transparente */
  padding: 5px; /* Rembourrage intérieur de 5 pixels */
}

/* Style de l'élément texte "addon" à côté de la zone de saisie d'e-mail */
.email-addon {
  color: rgb(0, 0, 0); /* Couleur du texte en noir */
  padding: 0 5px; /* Rembourrage de 0 pixels en haut et en bas, 5 pixels à gauche et à droite */
  /* display: none; */
}

/* Style de la section d'acceptation des newsletters */
.accept-newsletters {
  display: flex; /* Affiche les éléments en ligne avec un axe horizontal */
  align-items: center; /* Centre verticalement les éléments enfants */
  justify-content: center; /* Centre horizontalement les éléments enfants */
  margin-top: 10px; /* Marge supérieure de 10 pixels */
  color: white; /* Couleur du texte en blanc */
}

/* Style de l'étiquette de la case à cocher d'acceptation */
.accept-newsletters label {
  display: flex; /* Affiche les éléments en ligne avec un axe horizontal */
  align-items: center; /* Centre verticalement les éléments enfants */
  cursor: pointer; /* Change le curseur en main pour indiquer que c'est cliquable */
}

/* Style de la case à cocher d'acceptation */
.accept-newsletters input[type="checkbox"] {
  appearance: none; /* Supprime le style par défaut du navigateur */
  width: 15px; /* Largeur de 15 pixels */
  height: 15px; /* Hauteur de 15 pixels */
  border: 1px solid white; /* Bordure de 1 pixel solide en blanc */
  background-color: transparent; /* Couleur d'arrière-plan transparente */
  margin-right: 5px; /* Marge à droite de 5 pixels */
}

/* Style de la case à cocher d'acceptation lorsqu'elle est cochée */
.accept-newsletters input[type="checkbox"]:checked {
  background-color: white; /* Couleur d'arrière-plan blanche lorsque la case est cochée */
}


  .abo{
    margin-top: 10px;
    display: inline-block; /* Affiche le bouton comme un élément en ligne avec des marges autour */
    padding: 10px 20px; /* Rembourrage intérieur du bouton (haut et bas : 10px, gauche et droite : 20px) */
    border-radius: 25px; /* Ajoute des bordures arrondies au bouton */
    background-color: #58bbbc; /* Couleur d'arrière-plan du bouton */
    color: white; /* Couleur du texte du bouton */
    text-align: center; /* Centre le texte horizontalement dans le bouton */
    text-decoration: none; /* Supprime la décoration de lien (soulignement) */
    font-size: 16px; /* Taille de la police du texte */
    cursor: pointer; /* Change le curseur en main au survol, indiquant que c'est un élément cliquable */
    transition: background-color 0.3s ease, color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur */
  }

  .abo:hover {
    background-color: #ffffff; /* Change la couleur d'arrière-plan au survol */
    color: #58bbbc; /* Change la couleur du texte au survol */
}


/* css de video a ajouter au niveau du formulaire */
/* Styles pour la vidéo en arrière-plan */
.video-2 {
  position: absolute; 
  bottom: -673%;
  left: 0;
  width: 100%;
  height: calc(100% - 300px); /* Hauteur de la fenêtre moins la hauteur du formulaire */
  object-fit: cover; /* Ajuster la vidéo pour couvrir tout l'espace */
  z-index: -1; /* Assure que la vidéo est en arrière-plan */
}

.video-2 video {
  object-fit: cover;
  width: 100%;
  max-height: 390px; /* Hauteur maximale de la vidéo */
}

  /* second formulaire avant le footer la responsivité*/
  @media screen and (max-width: 768px) {

    .subscribe-section {
      text-align: center;
      margin-top: 40%;
      margin-bottom: 50px;
      background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent pour la section d'abonnement */
  padding: 20px;
  text-align: center;
  position: relative; /* Position relative pour les éléments enfants */
  z-index: 1; /* Assure que la section d'abonnement est au premier plan */
    }
    
    .subscribe-title {
      font-size: 1.5rem;
      color:#44bfda;
      text-decoration: underline;
      font-family : 'Rubik Iso', cursive ;
    }
    
    .email-input-large {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      border-radius: 20px;
      background-color: white;
      padding: 5px;
      width: 30%;
      margin-left: 260px;
    }
    
    .email-input-large input[type="text"] {
      width: 100%;
      background-color: white;
      color: black;
      border: none;
      padding: 5px;
    }
    
    .email-addon {
      color: black;
      padding: 0 5px;
    }
    
    .accept-newsletters {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      color: white;
    }
    
    .accept-newsletters label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    .accept-newsletters input[type="checkbox"] {
      appearance: none;
      width: 15px;
      height: 15px;
      border: 1px solid white;
      background-color: transparent;
      margin-right: 5px;
    }
    
    .accept-newsletters input[type="checkbox"]:checked {
      background-color: white;
    }

    .abo{
      margin-top: 5px;
      display: inline-block; /* Affiche le bouton comme un élément en ligne avec des marges autour */
      padding: 10px 20px; /* Rembourrage intérieur du bouton (haut et bas : 10px, gauche et droite : 20px) */
      border-radius: 25px; /* Ajoute des bordures arrondies au bouton */
      background-color: #58bbbc; /* Couleur d'arrière-plan du bouton */
      color: white; /* Couleur du texte du bouton */
      text-align: center; /* Centre le texte horizontalement dans le bouton */
      text-decoration: none; /* Supprime la décoration de lien (soulignement) */
      font-size: 16px; /* Taille de la police du texte */
      cursor: pointer; /* Change le curseur en main au survol, indiquant que c'est un élément cliquable */
      transition: background-color 0.3s ease, color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur */
    }

    .abo:hover {
      background-color: #ffffff; /* Change la couleur d'arrière-plan au survol */
      color: #58bbbc; /* Change la couleur du texte au survol */
  }


  /* css de video a ajouter au niveau du formulaire */
/* Styles pour la vidéo en arrière-plan */
.video-2 {
  position: absolute; 
  bottom: -510%;
  left: 0;
  width: 100%;
  height: calc(100% - 300px); /* Hauteur de la fenêtre moins la hauteur du formulaire */
  object-fit: cover; /* Ajuster la vidéo pour couvrir tout l'espace */
  z-index: -1; /* Assure que la vidéo est en arrière-plan */
}

.video-2 video {
  object-fit: cover;
  width: 100%;
  max-height: 390px; /* Hauteur maximale de la vidéo */
}

  }

    /* second formulaire avant le footer la responsivité*/
    @media screen and (max-width: 412px) {

      /* Conteneur principal en colonne */
.subscribe-section {
  text-align: center; /* Centre le contenu horizontalement */
  margin-top: 20px; /* Réduit la marge supérieure pour un espacement plus compact */
  margin-bottom: 20px; /* Réduit la marge inférieure pour un espacement plus compact */
  display: flex; /* Utilise la disposition flexible */
  flex-direction: column; /* Affiche les éléments en colonne */
  align-items: center; /* Centre verticalement les éléments enfants */
  background-color: rgba(0, 0, 0, 0); /* Fond semi-transparent pour la section d'abonnement */
  padding: 20px;
  text-align: center;
  position: relative; /* Position relative pour les éléments enfants */
  z-index: 1; /* Assure que la section d'abonnement est au premier plan */
}

/* Style du titre de la section d'abonnement */
.subscribe-title {
  font-size: 1.2rem; /* Taille de police réduite pour s'adapter aux petits écrans */
  color: white; /* Couleur du texte en blanc */
  font-family: Georgia, 'Times New Roman', Times, serif; /* Police personnalisée */
}

/* Style de la zone de saisie d'e-mail et de son conteneur */
.email-input-large {
  display: flex; /* Utilise la disposition flexible */
  align-items: center; /* Centre verticalement les éléments enfants */
  margin-top: 10px; /* Réduit la marge supérieure pour un espacement plus compact */
  border-radius: 20px; /* Ajoute des bordures arrondies de 20 pixels */
  background-color: rgba(0, 0, 0, 0); /* Couleur d'arrière-plan blanche */
  padding: 5px; /* Rembourrage intérieur de 5 pixels */
  width: 80%; /* Définit la largeur du conteneur à 80% */
  margin-left: auto; /* Centre le conteneur en ajustant la marge gauche */
  margin-right: auto; /* Centre le conteneur en ajustant la marge droite */
}

/* Style de la zone de saisie d'e-mail (input[type="text"]) */
.email-input-large input[type="text"] {
  width: 100%; /* Remplit la largeur du conteneur parent */
  background-color: white; /* Couleur d'arrière-plan blanche */
  color: black; /* Couleur du texte en noir */
  border: 1px solid transparent; /* Supprime les bordures du champ de saisie */
  padding: 5px; /* Rembourrage intérieur de 5 pixels */
}

/* Style de l'élément texte "addon" à côté de la zone de saisie d'e-mail */
.email-addon {
  color: rgb(255, 255, 255); /* Couleur du texte en noir */
  padding: 0 5px; /* Rembourrage de 0 pixels en haut et en bas, 5 pixels
   à gauche et à droite */
   display: none;
}

/* Style de la section d'acceptation des newsletters */
.accept-newsletters {
  display: flex; /* Utilise la disposition flexible */
  /* flex-direction: column; Affiche les éléments en colonne */
  align-items: center; /* Centre verticalement les éléments enfants */
  margin-top: 10px; /* Réduit la marge supérieure pour un espacement plus compact */
  color: white; /* Couleur du texte en blanc */
}

/* Style de l'étiquette de la case à cocher d'acceptation */
.accept-newsletters label {
  display: flex; /* Utilise la disposition flexible */
  align-items: center; /* Centre verticalement les éléments enfants */
  cursor: pointer; /* Change le curseur en main pour indiquer que c'est cliquable */
}

/* Style de la case à cocher d'acceptation */
.accept-newsletters input[type="checkbox"] {
  appearance: none; /* Supprime le style par défaut du navigateur */
  width: 15px; /* Largeur de 15 pixels */
  height: 15px; /* Hauteur de 15 pixels */
  border: 1px solid white; /* Bordure de 1 pixel solide en blanc */
  background-color: transparent; /* Couleur d'arrière-plan transparente */
  margin-right: 5px; /* Marge à droite de 5 pixels */
}

/* Style du bouton d'abonnement */
.abo {
  margin-top: 10px;
  display: inline-block; /* Affiche le bouton comme un élément en ligne avec des marges autour */
  padding: 10px 20px; /* Rembourrage intérieur du bouton (haut et bas : 10px, gauche et droite : 20px) */
  border-radius: 25px; /* Ajoute des bordures arrondies au bouton */
  background-color: #58bbbc; /* Couleur d'arrière-plan du bouton */
  color: white; /* Couleur du texte du bouton */
  text-align: center; /* Centre le texte horizontalement dans le bouton */
  text-decoration: none; /* Supprime la décoration de lien (soulignement) */
  font-size: 14px; /* Taille de la police réduite pour s'adapter aux petits écrans */
  cursor: pointer; /* Change le curseur en main au survol, indiquant que c'est un élément cliquable */
  transition: background-color 0.3s ease, color 0.3s ease; /* Ajoute une transition douce pour les changements de couleur */
}

/* Style du bouton d'abonnement au survol */
.abo:hover {
  background-color: #ffffff; /* Change la couleur d'arrière-plan au survol */
  color: #58bbbc; /* Change la couleur du texte au survol */
}


/* css de video a ajouter au niveau du formulaire */
/* Styles pour la vidéo en arrière-plan */
.video-2 {
  position: absolute; 
  bottom: -712%;
  left: 0;
  width: 100%;
  height: calc(100% - 300px); /* Hauteur de la fenêtre moins la hauteur du formulaire */
  object-fit: cover; /* Ajuster la vidéo pour couvrir tout l'espace */
  z-index: -1; /* Assure que la vidéo est en arrière-plan */
}

.video-2 video {
  object-fit: cover;
  width: 100%;
  height: 500px; /* Hauteur maximale de la vidéo */
}


    }
  
  


























/* Ce bloc de styles est appliqué à la div principale qui contient le texte et l'image.
   Il aligne les éléments en ligne, les centre verticalement et ajoute une marge en bas. */
   .text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin: 8%; /* Ajoute une marge de 8% sur tous les côtés de la div */
  }
  
  /* Ces styles sont appliqués aux colonnes de texte et d'image à l'intérieur de la div principale.
     Chaque colonne occupe 50% de la largeur et a un espacement intérieur de 20px.
     La couleur du texte est définie en blanc (#ffffff). */
  .text-column,
  .image-column {
    flex: 1; /* Les colonnes occupent également la moitié de la largeur de la div */
    padding: 20px;
    color: #ffffff; /* Couleur du texte en blanc */
  }

  .image-column {
  box-shadow: 5px 5px 10px 1px #8ae5f3;
}


  .text-column h2{
    color: #58bbbc;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
  }
  
  /* Les styles pour la colonne de texte.
     La propriété "order" détermine l'ordre d'affichage, ici le texte est affiché en premier. */
  .text-column {
    order: 1;
    text-align: center; /* Alignement du texte à gauche */
  }

  .text-column {
    flex: 1;
    padding: 20px;
    color: #ffffff;
    transform: translateX(10%);
    opacity: 5;
    transition: transform 1s ease, opacity 1s ease;
  }
  


  .text-column.animate {
    transform: translateX(0%);
    opacity: 1;
  }
  

  
  /* Les styles pour la colonne d'image.
     La propriété "order" détermine l'ordre d'affichage, ici l'image est affichée en deuxième. */
  .image-column {
    order: 2;
    text-align: center; /* Alignement du texte à droite */
  }
  
  /* Styles pour les images à l'intérieur de la colonne d'image.
     L'image occupe 100% de la largeur et une hauteur fixe de 620 pixels.
     La bordure est commentée pour l'instant (désactivée). */
  .image-column img {
    width: 100%;
    height: 620px;
    opacity: 0; /* Définit l'opacité initiale à 0 */
    transition: opacity 1s ease; /* Ajoute une transition en douceur */
  }
  
  /* Les styles inversés sont appliqués lorsque la classe "reversed" est ajoutée à la div principale.
     Ces styles inversent l'ordre d'affichage du texte et de l'image. */
  .reversed .text-column {
    order: 2;
    text-align: center;
  }
  
  .reversed .image-column {
    order: 1;
    text-align: left;
  }
  
/* Ajoutez ces styles à la classe .text-column */
.text-column {
  flex: 1;
  padding: 20px;
  color: #ffffff;
  animation: slideFromLeft 1s ease-in-out; /* Ajoutez une animation pour l'effet de sortie */
}

.visible-at-412px {
  display: none;
}

.text-container-visible-at-412px{
  display: none;
}



/* parti mobile */
.text-container1 {
  /* max-width: 412px; Largeur maximale de 412 pixels */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  text-align: center; /* Centrer le texte horizontalement */
  margin-bottom: 20px; /* Espace en bas de chaque section */
  display: none;
}

.image-container {
  max-width: 100%; /* Largeur maximale de 412 pixels */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  margin-top: 20px; /* Espace en haut de la section image */
  display: none;
}

/* Styles pour le texte */
.text-column-mobile-one {
  text-align: center;
  display: none;
}

.text-contener1-mobile-two{
  text-align: center;
  padding: 20px;
  display: none;
}

.eagle{
  width: 300px;
  height: auto;
  margin: 0 70px;
  display: none;
}














/* Définissez l'animation slideFromLeft */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); /* Commencez le texte à l'extérieur de la div à gauche */
    opacity: 0; /* Définissez l'opacité initiale à 0 */
  }
  to {
    transform: translateX(0%); /* Déplacez le texte vers la position normale */
    opacity: 1; /* Rendez le texte complètement visible */
  }
}

/* parti responsive */
@media screen and (max-width: 768px) {

  .text-container-visible-at-412px{
  display: none;
}


/* Ce bloc de styles est appliqué à la div principale qui contient le texte et l'image.
   Il aligne les éléments en ligne, les centre verticalement et ajoute une marge en bas. */
   .text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin: 8%; /* Ajoute une marge de 8% sur tous les côtés de la div */
  }
  
  /* Ces styles sont appliqués aux colonnes de texte et d'image à l'intérieur de la div principale.
     Chaque colonne occupe 50% de la largeur et a un espacement intérieur de 20px.
     La couleur du texte est définie en blanc (#ffffff). */
  .text-column,
  .image-column {
    flex: 1; /* Les colonnes occupent également la moitié de la largeur de la div */
    padding: 20px;
    color: #ffffff; /* Couleur du texte en blanc */
  }

  .image-column {
  box-shadow: 5px 5px 10px 1px #8ae5f3;
}


  .text-column h2{
    color: #58bbbc;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
  }
  
  /* Les styles pour la colonne de texte.
     La propriété "order" détermine l'ordre d'affichage, ici le texte est affiché en premier. */
  .text-column {
    order: 1;
    text-align: center; /* Alignement du texte à gauche */
  }

  .text-column {
    flex: 1;
    padding: 20px;
    color: #ffffff;
    transform: translateX(10%);
    opacity: 5;
    transition: transform 1s ease, opacity 1s ease;
  }
  


  .text-column.animate {
    transform: translateX(0%);
    opacity: 1;
  }
  

  
  /* Les styles pour la colonne d'image.
     La propriété "order" détermine l'ordre d'affichage, ici l'image est affichée en deuxième. */
  .image-column {
    order: 2;
    text-align: right; /* Alignement du texte à droite */
  }
  
  /* Styles pour les images à l'intérieur de la colonne d'image.
     L'image occupe 100% de la largeur et une hauteur fixe de 620 pixels.
     La bordure est commentée pour l'instant (désactivée). */
  .image-column img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease; /* Ajoute une transition en douceur */
  }
  
  /* Les styles inversés sont appliqués lorsque la classe "reversed" est ajoutée à la div principale.
     Ces styles inversent l'ordre d'affichage du texte et de l'image. */
  .reversed .text-column {
    order: 2;
    text-align: center;
  }
  
  .reversed .image-column {
    order: 1;
    text-align: left;
  }
  
/* Ajoutez ces styles à la classe .text-column */
.text-column {
  flex: 1;
  padding: 20px;
  color: #ffffff;
  animation: slideFromLeft 1s ease-in-out; /* Ajoutez une animation pour l'effet de sortie */
}

/* parti mobile */
.text-container1,
.image-container,
.text-column-mobile-one,
.text-contener1-mobile-two,
.eagle,
.mob {
  display: none; /* Masquer les éléments par défaut */
}




}

/* Définissez l'animation slideFromLeft */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); /* Commencez le texte à l'extérieur de la div à gauche */
    opacity: 0; /* Définissez l'opacité initiale à 0 */
  }
  to {
    transform: translateX(0%); /* Déplacez le texte vers la position normale */
    opacity: 1; /* Rendez le texte complètement visible */
  }
}





/* parti responsive pour portable */
@media screen and (max-width: 412px) {

    /* Styles spécifiques pour les résolutions de 412px ou moins */
    .text-container1,
    .image-container,
    .text-column-mobile-one,
    .text-contener1-mobile-two,
    .eagle{
      display: block; /* Rendre les éléments visibles */
    }

/* Styles pour les conteneurs de texte et d'image */
.text-container1 {
  /* max-width: 412px; Largeur maximale de 412 pixels */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  text-align: center; /* Centrer le texte horizontalement */
  margin-bottom: 20px; /* Espace en bas de chaque section */
}

.image-container {
  max-width: 100%; /* Largeur maximale de 412 pixels */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  margin-top: 20px; /* Espace en haut de la section image */
}

/* Styles pour le texte */
.text-column-mobile-one {
  text-align: center;
  margin: 0 8px;
}

.eagle{
  width: 300px;
  height: auto;
  margin: 0 60px;
}


/* Styles pour l'image */
.image-column img {
  max-width: 100%;
  height: auto;
}







/* parti non visible pour la version mobile */
  .reversed .text-column{
    display: none;
  }
  .reversed .image-column{
    display: none;
  }
  .text-column{
    display: none;
  }
  .image-column{
    display: none;
  }



}
/* .text-container-visible-at-412px{
  display: none;
} */




















/* test video */
/* .video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
  } */






















/* section partenaire */
.partners-section {
  text-align: center;
  padding: 40px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #58bbbc;
  text-decoration: underline;
}

.partners-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.partner-block {
  width: 150px;
  margin: 10px;
}

.partner-block img {
  width: 100%;
  height: auto;
}

hr .partner {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #ccc;
}

/* responsivité */
@media screen and (max-width: 768px) {

  .partners-section {
    text-align: center;
    padding: 40px;
    margin: 8%;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #58bbbc;
    text-decoration: underline;
  }
  
  .partners-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .partner-block {
    width: 100px;
    margin: 5px;
  }
  
  .partner-block img {
    width: 80%;
    height: auto;
  }
  
  hr .partner {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #2ea6c2;
  }
  

}


  /* reponsivité portable */
  @media screen and (max-width: 412px) {

    /* Section des partenaires */
.partners-section {
  text-align: center;
  padding: 20px; /* Réduit la marge intérieure */
}

/* Titre de la section */
.section-title {
  font-size: 20px; /* Réduit la taille de la police */
  margin-bottom: 10px; /* Réduit la marge inférieure */
  color: #58bbbc; /* Couleur du texte en bleu */
  text-decoration: underline; /* Souligne le texte */
}

/* Conteneur des partenaires avec disposition flexible */
.partners-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px; /* Réduit la marge inférieure */
}

/* Style pour chaque bloc partenaire */
.partner-block {
  width: 100px; /* Réduit la largeur du bloc partenaire */
  margin: 5px; /* Réduit la marge autour du bloc partenaire */
}

/* Style pour l'image du partenaire */
.partner-block img {
  width: 100%;
  height: auto;
}

/* Ligne horizontale entre les partenaires */
hr .partner {
  margin: 10px 0; /* Réduit la marge supérieure et inférieure */
  border: none;
  border-top: 1px solid #ccc; /* Réduit l'épaisseur de la ligne */
}


  }






























/* bouton retour haut de pages */

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #58bbbc;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  font-size: 14px; 
  border-radius: 20px; /* Ajoute des bords arrondis de 10 pixels */
}

.scroll-top-button a {
  text-decoration: none; /* Supprime la décoration par défaut des liens */
  color: white; /* Applique la couleur de texte au lien */
}

.scroll-top-button:hover {
  background-color: #447d7f;
}

.scroll-top-button:hover a {
  color: white; /* Applique la couleur de texte au lien au survol */
}

@media screen and (max-width: 768px) {

  .scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #58bbbc;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px; 
  }
  
  .scroll-top-button a {
    text-decoration: none; /* Supprime la décoration par défaut des liens */
    color: white; /* Applique la couleur de texte au lien */
  }
  
  .scroll-top-button:hover {
    background-color: #447d7f;
  }
  
  .scroll-top-button:hover a {
    color: white; /* Applique la couleur de texte au lien au survol */
  }

}


  /* reponsivité portable */
  @media screen and (max-width: 412px) {

    /* Bouton de retour en haut */
    .scroll-top-button {
      position: fixed;
      bottom: 10px;
      right: 15px;
      background-color: #58bbbc;
      color: white;
      border: none;
      width: 40px; /* Largeur du bouton rond */
      height: 40px; /* Hauteur du bouton rond */
      border-radius: 50%; /* Forme ronde */
      text-align: center; /* Centrer le contenu */
      /* line-height: 40px; Centrer le contenu verticalement */
      cursor: pointer;
      z-index: 1;
      font-size: 12px;
      overflow: hidden; /* Masquer le débordement du contenu */
    }
    
    .fa-arrow-up:before{
      font-size: x-large;
      justify-content: center;
    }
    
    .scroll-top-button::before {
      transform: translateX(-50%) translateY(-50%) rotate(45deg); /* Rotation pour créer la flèche */
    }
    
    .scroll-top-button::after {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg); /* Rotation pour créer la flèche */
    }
    
    .scroll-top-button:hover {
      background-color: #447d7f;
    }
    
    .scroll-top-button:hover a {
      color: white;
    }

    .fa-up-long:before{
      font-size: large;

    }
    


  }













  /* PARTIE FOOTER */

.footer {
    background-color: #0e0e0e;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 150px;
    text-align: center;
    font-size: large;
    /* border: 2px solid #58bbbc; */
    margin-top: 30px;
  }
  
  .footer-links-center ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links-center li {
    margin: 10px 0;
  }
  
  .footer-links-center a {
    color: white;
    text-decoration: none;
    margin-left: 620px;
}

.footer-links-center a:hover{
  font-size: larger;
  color: #58bbbc;
}
  
  .footer-links-right {
    display: flex;
    align-items: center;
  }
  
  .footer-links-right a {
    margin: 0 10px;
  }
  
  .footer-links-right img {
    width: 30px;
    height: 30px;
  }

/* texte en dessous du footer
  .copy{
    font-size: smaller;
    margin-left: 20px;
  }

  .copy a{
    text-decoration: none;
    color: #ffffff;
  } */

  @media screen and (max-width: 768px) {

    /* Style général du footer */
.footer {
  background-color: #0e0e0e; /* Couleur de fond du footer */
  padding: 20px 0; /* Rembourrage intérieur du footer (haut et bas : 20px, gauche et droite : 0) */
  display: flex; /* Utilisation de Flexbox pour la mise en page */
  justify-content: space-between; /* Espace entre les éléments du footer */
  align-items: center; /* Centre verticalement le contenu du footer */
  color: white; /* Couleur du texte du footer */
  height: 150px; /* Hauteur fixe du footer */
  text-align: center; /* Centre le texte horizontalement */
  font-size: large; /* Taille de la police pour le texte du footer */
  margin-top: 30px; /* Marge en haut du footer pour l'espacement */
}

/* Styles pour la liste de liens au centre du footer */
.footer-links-center ul {
  list-style: none; /* Supprime les puces de liste */
  margin: 0; /* Supprime la marge autour de la liste */
  padding: 0; /* Supprime le rembourrage intérieur de la liste */
}

.footer-links-center li {
  margin: 10px 0; /* Marge en haut et en bas de chaque élément de liste */
}

.footer-links-center a {
  color: white; /* Couleur du texte des liens du footer */
  text-decoration: none; /* Supprime la décoration de lien (soulignement) */
  margin-left: 100px; /* Ajoute une marge à gauche pour espacer les liens horizontalement */
}

/* Styles pour les liens au survol (hover) */
.footer-links-center a:hover {
  font-size: larger; /* Augmente la taille de la police au survol */
  color: #58bbbc; /* Change la couleur du texte au survol */
}

/* Styles pour la section de liens à droite du footer */
.footer-links-right {
  display: flex; /* Utilisation de Flexbox pour la mise en page */
  align-items: center; /* Centre verticalement les éléments de la section de liens à droite */
}

.footer-links-right a {
  margin: 0 10px; /* Marge horizontale autour de chaque lien */
}

.footer-links-right img {
  width: 30px; /* Largeur des images des liens */
  height: 30px; /* Hauteur des images des liens */
}

/* Texte en dessous du footer (mention légale, copyright, etc.) */
.copy {
  font-size: smaller; /* Taille de la police plus petite pour le texte de la mention légale */
  margin-left: 20px; /* Marge à gauche pour espacer le texte de la mention légale horizontalement */
}

.copy a {
  text-decoration: none; /* Supprime la décoration de lien pour les liens de la mention légale */
  color: #ffffff; /* Couleur du texte des liens de la mention légale */
}


  }


    /* reponsivité portable */
    @media screen and (max-width: 412px) {

      .footer {
        width: 100%;
        background-color: #0e0e0e;
        padding: 10px 0; /* Réduit le rembourrage vertical */
        display: flex;
        flex-direction: column; /* Affiche les éléments en colonne */
        align-items: center; /* Centre les éléments horizontalement */
        color: white;
        text-align: center;
        font-size: small; /* Réduit la taille de police */
        margin-top: 10px; /* Réduit la marge supérieure */
        height: auto; /* Ajuste la hauteur automatiquement en fonction du contenu */
      }
      
      .footer-links-center ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .footer-links-center li {
        margin: 5px 0; /* Réduit la marge autour des éléments de liste */
      }
      
      .footer-links-center a {
        color: white;
        text-decoration: none;
        margin-left: 0; /* Supprime la marge à gauche */
      }
      
      .footer-links-center a:hover {
        font-size: small; /* Réduit la taille de police au survol */
        color: #58bbbc;
      }
      
      .footer-links-right {
        display: flex;
        align-items: center;
        justify-content: center; /* Centre les éléments horizontalement */
      }
      
      .footer-links-right a {
        margin: 10px 5px; /* Réduit la marge autour des liens */
      }
      
      .footer-links-right img {
        width: 20px; /* Réduit la taille des images */
        height: 20px;
      }
      

    }
  
  